.git
.env
node_modules
__pycache__
*.log
Dockerfile                                                                                                                                                 
docker-compose.yml
venv/